.login {
    text-align: center;
    color: plum;
}

.con {
    background-color: aqua;
    padding: 5%;
    border: 1px solid rgb(255, 145, 237);
    border-radius: 1%;
}

input[type="number"],
input[type="password"],
select,
textarea {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    margin: 5px;
}

input[type="submit"] {
    background-color: rgb(255, 226, 120);
    color: rgb(100, 35, 35);
    padding: 12px 20px;
    border: rgb(0, 0, 0);
    border-radius: 1%;
    cursor: grabbing;
    width: 100%;
    margin: 5px;
}

footer {
    text-align: center;
}