h1 {
    margin: 1%;
    background-color: aqua;
    font-family: initial;
    text-align: center;
    color: #000000;
    border-radius: 12px;
}

body {
    background: #ffc0eb;
    margin: 0px;
}

footer {
    padding: auto;
    background: #fff202;
}

nav {
    background-color: #ff6868;
    overflow: hidden;
}

nav {
    text-decoration: none;
    padding: 20px;
    text-align: center;
}

nav a {
    color: #ffd502;
    margin: 5%;
    text-decoration: none;
}

nav :hover {
    color: #ffc0eb;
}

h2 {
    font-family: monospace;
    text-align: left;
}

thead {
    border: #000000;
}