body {
    background: #ffc0eb;
}

h1 {
    margin: 1%;
    background-color: aqua;
    font-family: fantasy;
    text-align: center;
}

h2 {
    font-family: monospace;
    text-align: center;
}

footer {
    padding: auto;
    background: #fff202;
}

nav {
    background-color: #ff6868;
    overflow: hidden;
}

nav {
    text-decoration: none;
    padding: 20px;
    text-align: center;
}

nav a {
    color: #ffd502;
    margin: 5%;
}

nav :hover {
    color: #ffc0eb;
}